@tailwind base;
@tailwind components;
@tailwind utilities;

.top-loader {
    background-image: linear-gradient(90deg, #00f, #f00, #0f0, #f0f, #00f);
    animation: animate-top-bar 5s linear infinite;
    background-size: 200%;
}

@keyframes animate-top-bar {
    0% {
        background-position: 0 0;
    }
    0% {
        background-position: 200% 0;
    }
}