<nav class="w-full flex justify-between h-16 items-center bg-indigo-500">
  <div class="flex items-center justify-start">
    <a
        href="/"
        class="text-white font-bold text-2xl px-8 hover:text-gray-200"
    >
      HTMX
    </a>
  </div>
  <div class="flex items-center justify-end">
    {{ if .LoggedIn }}
    <button
        class="px-8 py-2 rounded-full bg-red-700 hover:bg-red-600 active:bg-red-500 text-white font-bold mr-4"
        hx-post="/logout"
    >
      Logout
    </button>
    {{ else }}
    <button
        class="px-8 py-2 rounded-full bg-amber-600 hover:bg-amber-500 text-white font-bold mr-4 active:bg-amber-300"
        hx-get="/login"
        hx-target="#body"
        hx-swap="innerHTML"
    >
      Login
    </button>
    {{ end }}
  </div>
</nav>