<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/public/htmx@1.9.10.js"
          integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
          crossorigin="anonymous"></script>
  <link href="/public/styles.css" rel="stylesheet"/>
</head>
<body>
{{ .Body }}
<script defer>
  document.body.addEventListener("htmx:sendError", function (e) {
    console.log("Send Event", e);
  });
</script>

</body>
</html>